
@import "tailwindcss" source(none);
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@source "../app/templates/registrar-numbers.jinja";
@source "../frontend/registrar-numbers.js";

@theme {
    --color-fg-brand-subtle: var(--color-blue-200);
    --color-fg-brand: var(--color-blue-700);
    --color-fg-brand-strong: var(--color-blue-900);

    --color-brand-softer: var(--color-blue-50);
    --color-brand-soft: var(--color-blue-100);
    --color-brand: var(--color-blue-700);
    --color-brand-medium: var(--color-blue-200);
    --color-brand-strong: var(--color-blue-800);
}

.datatable-ascending::after {
    content: " ▲";
}
.datatable-descending::after {
    content: " ▼";
}