@import "tailwindcss" source(none);
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@source "../app/templates/reports";
@source "../frontend/reports.js";