<div class="mx-2">
    <div class="columns m-0 is-2">
        <div class="column is-narrow"><h4 class="title is-4">Radiology locator</h4></div>
        <div class="column">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar help desk (in hours)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89843</span>
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89806</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar on call</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-pager"></i>
                            </span>
                            <span>8911</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Report hotline (admin)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>80782</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        </div>    
        <div class="column is-narrow"><h6 class="subtitle is-6">Updated <relative-time datetime="{{ data.updated | format_iso8601 }}"/></h6></div>
    </div>
    <div class="columns">
        {% for title in ("Radiologists", "Registrars and Fellows") %}
            <div class="column">
                <table class="table is-striped is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th colspan="2">{{ title }}</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Last active</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ip, desk in data.desks.items() %}
                    {% for uid in desk.users %}
                    {% with user=data.users[uid] %}
                    {% if user.pacs_presence.presence != 'offline' and user.radiologist == (title == "Radiologists") %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.specialty }}</td>
                            <td title="{{ desk.computer_name }}">{{ desk.name }}</td>
                            <td>{% if desk.phone %}{{ desk.phone }}{% endif %}</td>
                            <td>
                                <div class="dropdown is-hoverable is-unselectable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-{{ user.pacs_presence.presence | presence_icon_class }}">
                                            <i class="fa-solid fa-{{ user.pacs_presence.presence | presence_icon }}"></i>
                                        </span>
                                        <relative-time datetime="{{ user | last_timestamp | format_iso8601 }}" />
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <span>
                                                    {% if user.pacs_presence.updated > 0 %}
                                                    {{ user.pacs_presence.presence | title }}: <relative-time datetime="{{ user.pacs_presence.updated | format_iso8601 }}"/>
                                                    {% else %}
                                                    {{ user.pacs_presence.presence | title }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if user.last_report is not none %}
                                            <div class="dropdown-item">
                                                <span>Last report: <relative-time datetime="{{ user.last_report | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.last_triage is not none %}
                                            <div class="dropdown-item">
                                                <span>Last triage: <relative-time datetime="{{ user.last_triage | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.ris_logon is not none %}
                                            <div class="dropdown-item">
                                                <span>RIS logon: <relative-time datetime="{{ user.ris_logon.timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% for timestamp in user.windows_logons.values() %}
                                            <div class="dropdown-item">
                                                <span>Windows logon: <relative-time datetime="{{ timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                    {% endfor %}
                    {% for uid in data.offsite %}
                    {% with user=data.users[uid] %}
                    {% if user.pacs_presence.presence != 'offline' and user.radiologist == (title == "Radiologists") %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.specialty }}</td>
                            <td>Offsite</td>
                            <td></td>
                            <td>
                                <div class="dropdown is-hoverable is-unselectable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-{{ user.pacs_presence.presence | presence_icon_class }}">
                                            <i class="fa-solid fa-{{ user.pacs_presence.presence | presence_icon }}"></i>
                                        </span>
                                        <relative-time datetime="{{ user | last_timestamp | format_iso8601 }}" />
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <span>
                                                    {% if user.pacs_presence.updated > 0 %}
                                                    {{ user.pacs_presence.presence | title }}: <relative-time datetime="{{ user.pacs_presence.updated | format_iso8601 }}"/>
                                                    {% else %}
                                                    {{ user.pacs_presence.presence | title }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if user.last_report is not none %}
                                            <div class="dropdown-item">
                                                <span>Last report: <relative-time datetime="{{ user.last_report | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.last_triage is not none %}
                                            <div class="dropdown-item">
                                                <span>Last triage: <relative-time datetime="{{ user.last_triage | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.ris_logon is not none %}
                                            <div class="dropdown-item">
                                                <span>RIS logon: <relative-time datetime="{{ user.ris_logon.timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% for timestamp in user.windows_logons.values() %}
                                            <div class="dropdown-item">
                                                <span>Windows logon: <relative-time datetime="{{ timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <div class="tags">
        <h6 class="title is-6 is-flex ml-2 mb-0">Available desks ({{ data.desks.values() | selectattr('available') | list | length }})</h6>
        {% for ip, desk in data.desks.items() %}
            {% if desk.available %}
            <div class="dropdown is-up is-hoverable is-unselectable">
                <span class="tag icon-text">
                    <span class="icon has-text-{{ 'warning' if desk.users | length else 'success' if desk.online else 'grey' }}">
                        <i class="fa-solid fa-{{ 'user' if desk.users | length else 'desktop' }}"></i>
                    </span>
                    <span title="{{ desk.computer_name }}">{{ desk.name }}</span>
                </span>
                {% if desk.users | length > 0 %}
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            {% for uid in desk.users %}
                            {% with user = data.users[uid] %}
                            <div class="dropdown-item">
                                {{ user.first_name }} {{ user.last_name }} logged in <relative-time datetime="{{ user.windows_logons[ip] | format_iso8601 }}"/>
                            </div>
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>