<div class="mx-2">
    <div class="columns m-0 is-2">
        <div class="column is-narrow"><h4 class="title is-4">Radiology locator</h4></div>
        <div class="column">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar help desk (in hours)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89843</span>
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89806</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar on call</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-pager"></i>
                            </span>
                            <span>8911</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Report hotline (admin)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>80782</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        </div>    
        <div class="column is-narrow"><h6 class="subtitle is-6">Updated <relative-time datetime="{{ data.updated | format_iso8601 }}"/></h6></div>
    </div>
    <div class="columns">
        {% for title in ("Radiologists", "Registrars and Fellows") %}
            <div class="column">
                <table class="table is-striped is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th colspan="2">{{ title }}</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Last active</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in data.users %}
                    {% if user.presence.presence != 'offline' and user.radiologist == (title == "Radiologists") %}
                    {% for windows_logon in (user.windows_logons if user.windows_logons | length else [none]) %}
                    {% with desk = windows_logon.desk if windows_logon is not none else none %}

                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.specialty }}</td>
                            {% if desk is not none %}
                            <td title="{{ desk.computer_name }}">{{ desk.desk_name }}</td>
                            {% else %}
                            <td>Offsite</td>
                            {% endif %}
                            <td>{% if desk is not none and desk.phone is not none %}{{ desk.phone }}{% endif %}</td>
                            <td>
                                <div class="dropdown is-hoverable is-unselectable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-{{ user.presence.presence | presence_icon_class }}">
                                            <i class="fa-solid fa-{{ user.presence.presence | presence_icon }}"></i>
                                        </span>
                                        {% with last_active = user | last_timestamp(windows_logon.timestamp if windows_logon is not none else none) %}
                                        {% if last_active is not none %}
                                        <relative-time datetime="{{ last_active | format_iso8601 }}" />
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <span>
                                                    {% if user.presence.timestamp is not none %}
                                                    {{ user.presence.presence | title }}: <relative-time datetime="{{ user.presence.timestamp | format_iso8601 }}"/>
                                                    {% else %}
                                                    {{ user.presence.presence | title }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if user.ris_data.last_report is not none %}
                                            <div class="dropdown-item">
                                                <span>Last report: <relative-time datetime="{{ user.ris_data.last_report | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.ris_data.last_triage is not none %}
                                            <div class="dropdown-item">
                                                <span>Last triage: <relative-time datetime="{{ user.ris_data.last_triage | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.ris_data.timestamp is not none %}
                                            <div class="dropdown-item">
                                                <span>RIS logon: <relative-time datetime="{{ user.ris_data.timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if windows_logon is not none %}
                                            <div class="dropdown-item">
                                                <span>Windows logon: <relative-time datetime="{{ windows_logon.timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endwith %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <div class="tags">
        <h6 class="title is-6 is-flex ml-2 mb-0">Available desks ({{ data.available_desks | length }})</h6>
        {% for desk in data.available_desks %}
            <div class="dropdown is-up is-hoverable is-unselectable">
                <span class="tag icon-text">
                    <span class="icon has-text-{{ 'warning' if desk.windows_logons | length else 'success' if desk.online else 'grey' }}">
                        <i class="fa-solid fa-{{ 'user' if desk.windows_logons | length else 'desktop' }}"></i>
                    </span>
                    <span title="{{ desk.computer_name }}">{{ desk.desk_name }}</span>
                </span>
                {% if desk.windows_logons | length %}
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            {% for windows_logon in desk.windows_logons %}
                            <div class="dropdown-item">
                                {{ windows_logon.first_name }} {{ windows_logon.last_name }} logged in <relative-time datetime="{{ windows_logon.timestamp | format_iso8601 }}"/>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>