<div class="mx-2">
    <div class="columns m-0 is-2">
        <div class="column is-narrow"><h4 class="title is-4">Radiology locator</h4></div>
        <div class="column">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar help desk (in hours)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89843</span>
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>89806</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Registrar on call</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-pager"></i>
                            </span>
                            <span>8911</span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-medium is-link">Report hotline (admin)</span>
                    <span class="tag is-medium is-dark">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span>80782</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        </div>    
    </div>
    <div class="columns">
        {% for title in ("Radiologists", "Registrars and Fellows") %}
            <div class="column">
                <table class="table is-striped is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th colspan="2">{{ title }}</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Last active</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ris, user in data.online_users.items() %}
                    {% if user.radiologist == (title == "Radiologists") %}
                        <tr>
                            <td><div class="dropdown is-hoverable is-unselectable">
                                <div class="dropdown-trigger">{{ user.first_name }} {{ user.last_name }}</div>
                                {% if user.roster | length %}
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        {% for entry in user.roster %}
                                            <div class="dropdown-item has-text-{{ 'black' if entry.active else 'grey-light' }}" title="{{ entry.start }} - {{ entry.end }}">{{ entry.shift }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div></td>
                            <td>{{ user.specialty }}</td>
                            <td{% if user.computer is not none %} title={{ user.computer }}{% endif %}>{% if user.desk is none %}Offsite{% else %}{{ user.desk }}{% endif %}</td>
                            <td>{% if user.phone is not none %}{{ user.phone }}{% endif %}</td>
                            <td>
                                <div class="dropdown is-hoverable is-unselectable">
                                    <div class="dropdown-trigger">
                                        <span class="icon has-text-{{ user.pacs_presence | presence_icon_class }}">
                                            <i class="fa-solid fa-{{ user.pacs_presence | presence_icon }}"></i>
                                        </span>
                                        {% if user.last_active is not none %}
                                        <relative-time datetime="{{ user.last_active | format_iso8601 }}" />
                                        {% endif %}
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <span>
                                                    {% if user.pacs_last_updated is not none %}
                                                    {{ user.pacs_presence }}: <relative-time datetime="{{ user.pacs_last_updated | format_iso8601 }}"/>
                                                    {% else %}
                                                    {{ user.pacs_presence }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if user.ps360_last_event_timestamp is not none and user.ps360_last_event_type is not none %}
                                            <div class="dropdown-item">
                                                <span><span title="{{ user.ps360_last_event_type }}">Dictation: </span><relative-time datetime="{{ user.ps360_last_event_timestamp | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.last_report is not none %}
                                            <div class="dropdown-item">
                                                <span>Report: <relative-time datetime="{{ user.last_report | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.last_triage is not none %}
                                            <div class="dropdown-item">
                                                <span>Triage: <relative-time datetime="{{ user.last_triage | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                            {% if user.windows_logon is not none and user.windows_computer is not none %}
                                            <div class="dropdown-item">
                                                <span title="{{ user.windows_computer }}">Windows logon: <relative-time datetime="{{ user.windows_logon | format_iso8601 }}"/></span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <div class="tags">
        <h6 class="title is-6 is-flex ml-2 mb-0">Available desks ({{ data.available_desks | length }})</h6>
        {% for desk in data.available_desks %}
            <div class="dropdown is-up is-hoverable is-unselectable">
                <span class="tag icon-text">
                    <span class="icon has-text-{{ 'warning' if desk.users is not none else 'success' if desk.online else 'grey' }}">
                        <i class="fa-solid fa-{{ 'user' if desk.users is not none else 'desktop' }}"></i>
                    </span>
                    <span title="{{ desk.computer }}">{{ desk.desk }}</span>
                </span>
                {% if desk.users is not none and desk.users | length %}
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            {% for full_name, timestamp in desk.users.items() %}
                            <div class="dropdown-item">
                                {{ full_name }} logged in <relative-time datetime="{{ timestamp | format_iso8601 }}"/>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>